:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.hero-image {
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image h1 {
  color: white;
}

.nav-color {
  background-color: #512da7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
}

.menu1 {
  padding-left: 0.5rem;
  font-size: 1rem;
}

nav.menu1 h1 {
  color: white;
}

.sub-menu {
  display: flex;
}

nav.sub-menu h4 {
  color: white;
}

.contact {
  padding-left: 2rem;
  padding-right: 0.5rem;
}

.copy-right-info {
  text-align: center;
}

.Upcoming-launch-title {
  width: 100%;
  height: 44px;
  background-color: #fec107;
  margin-top: -0.8rem;
}

.Upcoming-launch-title h1 {
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.launch {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: row;
}

.launch-card {
  width: 85%;
  height: 10rem;
  background-color: #ededed;
  border-radius: 0.25rem;
  padding-top: 2rem;
  margin-top: 0.7rem;
  margin-left: 5.5rem;
}

.button-left {
  display: flex;
  background-color: #ffc107;
  border-radius: 0 1.5rem 1.5rem 0;
  margin-top: 6rem;
  margin-bottom: 8rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-left: -5rem;
}

.button-right {
  display: flex;
  background-color: #ffc107;
  border-radius: 1.5rem 0 0 1.5rem;
  margin-top: 6rem;
  margin-bottom: 8rem;
  margin-left: 7rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

.launch p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mission-statement {
  widows: 100%;
  height: 8rem;
  background-color: #d2c4e5;
  margin-top: -1.4rem;
}

.mission-statement h1 {
  padding-top: 1rem;
  padding-left: 36rem;
}

.mission-statement p {
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: #512da7;
}
